<ion-view view-title="Register">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" autocapitalize="none" ng-model="view.username"/>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="view.password"/>
      </label>
      <div class="item item-divider">
           Account Type
         </div>
      <ion-radio ng-model="view.accountType" value="2">Standard</ion-radio>
      <ion-radio ng-model="view.accountType" value="3">Performer</ion-radio>
      <button ng-click="signup()" class="button button-calm">
        Register
      </button>
      <button ng-click="log()" class="button button-calm">
        Log
      </button>
    </div>
  </ion-content>
</ion-view>
