<!-- display information for a given event, have option to follow and stuff-->
<ion-view view-title="Display">
  <ion-content class="padding">
    <h1>Events</h1>
      <div ng-repeat="event in view.events">
        <h4>{{event.name}}</h4> <!-- on click, go to display page for the event-->
      </div>
    <h1>Performers</h1>
      <div ng-repeat="performer in view.performers">
        <h4>{{performer.name}}</h4> <!-- on click, go to display page for the event-->
      </div>
  </ion-content>
</ion-view>
