<ion-view view-title="Performer">
  <ion-content>
    <div>
    {{view.performer.name}}
    </div>

    <!-- <div class="list">
      <div class="item item-divider" >
        <div class="ion-android-star" style="display:inline-block; margin-right:5px"></div>
        Performers
        <a class="ion-plus" ng-click="addPerson()" style="display:inline-block; float: right; color:#F9F9F9">
        </a>
      </div>

      <a ng-repeat="performer in view.event.performers" class="item" ng-click="display(performer)" >
        {{performer.name}}
      </a>
    </div> -->
  </ion-content>
</ion-view>
