<ion-view view-title="Splash">
  <ion-content>
    <ion-list>
    <a ng-click="showLogin()" class="button button-calm">Login</a>
    <a ng-click="showRegister()" class="button button-calm">Register</a>
    </ion-list>
    <div class="view.list" ng-show="view.login">
      <label class="item item-input">
        <input type="text" placeholder="Username" autocapitalize="none" ng-model="view.username"/>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="view.password"/>
      </label>
      <button ng-click="login()" class="button button-calm">
        Login
      </button>
      <h1>{{view.errormessage}}</h1>
    </div>

    <div ng-show="view.register">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" autocapitalize="none" ng-model="view.username"/>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="view.password"/>
        </label>
        <label class="item item-input item-select">
         <div class="input-label">
           State
         </div>

                 <select ng-model="view.state" required>
                   <option value="AL">Alabama</option>
                   <option value="AK">Alaska</option>
                   <option value="AZ">Arizona</option>
                   <option value="AR">Arkansas</option>
                   <option value="CA">California</option>
                   <option value="CO">Colorado</option>
                   <option value="CT">Connecticut</option>
                   <option value="DE">Delaware</option>
                   <option value="DC">District Of Columbia</option>
                   <option value="FL">Florida</option>
                   <option value="GA">Georgia</option>
                   <option value="HI">Hawaii</option>
                   <option value="ID">Idaho</option>
                   <option value="IL">Illinois</option>
                   <option value="IN">Indiana</option>
                   <option value="IA">Iowa</option>
                   <option value="KS">Kansas</option>
                   <option value="KY">Kentucky</option>
                   <option value="LA">Louisiana</option>
                   <option value="ME">Maine</option>
                   <option value="MD">Maryland</option>
                   <option value="MA">Massachusetts</option>
                   <option value="MI">Michigan</option>
                   <option value="MN">Minnesota</option>
                   <option value="MS">Mississippi</option>
                   <option value="MO">Missouri</option>
                   <option value="MT">Montana</option>
                   <option value="NE">Nebraska</option>
                   <option value="NV">Nevada</option>
                   <option value="NH">New Hampshire</option>
                   <option value="NJ">New Jersey</option>
                   <option value="NM">New Mexico</option>
                   <option value="NY">New York</option>
                   <option value="NC">North Carolina</option>
                   <option value="ND">North Dakota</option>
                   <option value="OH">Ohio</option>
                   <option value="OK">Oklahoma</option>
                   <option value="OR">Oregon</option>
                   <option value="PA">Pennsylvania</option>
                   <option value="RI">Rhode Island</option>
                   <option value="SC">South Carolina</option>
                   <option value="SD">South Dakota</option>
                   <option value="TN">Tennessee</option>
                   <option value="TX">Texas</option>
                   <option value="UT">Utah</option>
                   <option value="VT">Vermont</option>
                   <option value="VA">Virginia</option>
                   <option value="WA">Washington</option>
                   <option value="WV">West Virginia</option>
                   <option value="WI">Wisconsin</option>
                   <option value="WY">Wyoming</option>
                 </select>
       </label>
        <div class="item item-divider">
             Account Type
           </div>

        <ion-radio ng-model="view.accountType" value="2">Standard</ion-radio>
        <ion-radio ng-model="view.accountType" value="3">Performer</ion-radio>
        <button ng-click="signup()" class="button button-calm">
          Register
        </button>
        <button ng-click="log()" class="button button-calm">
          Log
        </button>
        <h1>{{view.errormessage}}</h1>

      </div>
    </div>
  </ion-content>
</ion-view>
