<ion-view view-title="Login">
  <ion-content>
    wordss
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="view.username"/>
      </label>
      <label class="item item-input">
        <input type="password" ng-model="view.password"/>
      </label>
      <button ng-click="login()" class="button button-calm">
        Login
      </button>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="view.username"/>
      </label>
      <label class="item item-input">
        <input type="password" ng-model="view.password"/>
      </label>
      <button ng-click="login()" class="button button-calm">
        Login
      </button>
    </div>
  </ion-content>
</ion-view>
